
.deletIcon {
    margin-top: 1em;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10%;
}
.deletIcon:hover{
    transform: scale(1.2);
    background-color: red;
}

.logoutIcon {
    margin-top: 1em;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10%;
}
.logoutIcon:hover{
    transform: scale(1.2);
    background-color: red;
}